//@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';

// Colors
$black: #121212;
$white: #FFFFFF;
$orange: #FF4700;
$blue: #1D2D3A;

// Mixins
@mixin generate-gradient($color) {
    background: -moz-linear-gradient(top, rgba($color, 0) 0%, rgba($color, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba($color, 0)), color-stop(100%, rgba($color, 1)));
    background: -webkit-linear-gradient(top, rgba($color, 0) 0%, rgba($color, 1) 100%);
    background: -o-linear-gradient(top, rgba($color, 0) 0%, rgba($color, 1) 100%);
    background: -ms-linear-gradient(top, rgba($color, 0) 0%, rgba($color, 1) 100%);
    background: linear-gradient(to bottom, rgba($color, 0) 0%, rgba($color, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4800', endColorstr='#ff4800', GradientType=0);
}

// Styles
body {
    align-items: center;
    background: darken($blue, 10);
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 100vh;
    justify-content: center;
}

audio {
    display: none;
}

.b-player {
    background: darken($blue, 3);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 10px -5px rgba($black, 1);
    height: 667px;
    position: relative;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
}

.b-player__background {
    width: 150%;
    height: 150%;
    position: absolute;
    top: -25%;
    left: -25%;
    background: url(https://funkadelphia.files.wordpress.com/2012/09/odesza-summers-gone-lp.jpg);
    background-size: cover;
    background-position: center center;
    opacity: .2;
    filter: blur(10px);
}

.b-player__title {
    width: 300px;
    margin: 50px auto;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
    position: relative;
}

.b-player__artwork {
    width: 300px;
    height: 300px;
    background: url(https://funkadelphia.files.wordpress.com/2012/09/odesza-summers-gone-lp.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 4px;
    margin: auto;
    box-shadow: 0 5px 10px -5px rgba($black, .25);
    position: relative;
}

.b-player__track-information {
    width: 300px;
    margin: 30px auto;
    text-align: center;
    position: relative;

    .b-player__name {
        font-size: 24px;
        margin-bottom: 10px;
        font-weight: 300;
    }

    .b-player__artist {
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: 500;
    }

    .b-player__album {
        font-size: 12px;
        opacity: .5;
    }
}

.b-player__scrubber {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    opacity: .2;
    transition: opacity .25s ease;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &:active {
        opacity: 1;
    }

    .b-player__scrubber-progress {
        @include generate-gradient($orange);
        height: 100%;
        width: 0%;
        transition: width .25s ease;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.b-player__timestamps {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: 2;
    width: 100%;

    .b-player__time {
        font-size: 12px;
    }
}

.b-player__controls {
    position: absolute;
    bottom: 8%;
    pointer-events: none;
    margin: auto;
    left: 0;
    right: 0;

    .b-player__btn {
        height: 75px;
        width: 75px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 5px 10px 0px rgba($black, .125);
        margin: auto;
        pointer-events: all;

        &:active {
            .b-player__btn-pause {
                opacity: 1;
            }

            .b-player__btn-play {
                opacity: 0;
            }
        }

        .b-player__btn-pause {
            opacity: 0;
        }

        img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
